Source: libauxv
Section: libs
Priority: optional
Maintainer: Frédéric Bonnard <frediz@linux.vnet.ibm.com>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
               dh-autoreconf
Homepage: https://github.com/Libauxv/libauxv

Package: libauxv1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Auxiliary Vector Library
 Libauxv is designed to query /proc/self/auxv for the auxiliary vector.
 Sufficiently old kernels may not have support for this. In this case Libauxv
 will attempt to use a fallback mechanism and locate the auxiliary vector
 in the process environment.

Package: libauxv-dev
Architecture: any
Section: libdevel
Depends: libauxv1 (= ${binary:Version}), ${misc:Depends}
Description: Auxiliary Vector Library development files
 Libauxv is designed to query /proc/self/auxv for the auxiliary vector.
 Sufficiently old kernels may not have support for this. In this case Libauxv
 will attempt to use a fallback mechanism and locate the auxiliary vector
 in the process environment.
 .
 This package contains the static library and header files used in development.
